@mixin flex($direction , $wrap , $just , $align ){
    display         : flex;
    flex-flow       : $direction $wrap;
    justify-content : $just;
    align-items     : $align;
}

@mixin grid( $columns, $rows,$just,$align){
    display                 : grid;
    grid-template-columns   : repeat( $columnas , 1fr );
    grid-template-rows   : repeat( $filas , 1fr );
    justify-content : $just;
    align-items     : $align;
}