* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
}


body {
    max-width: 1920px;
    margin: 0px auto;
    padding: 0px;
    font-family: 'system-ui', 'Roboto', 'Ubuntu', 'sans-serif';

  }
