/*-------------------------------------------*\
1). Palette
    - https://paletton.com/#uid=53L070kp3wu00++7kPLG6kXZo0y
\*-------------------------------------------*/

$color-primary-0: #FFFFFF;	    // Main Primary color
$color-primary-1: #B3C1E1;
$color-primary-2: #3358AC;
$color-primary-3: #082770;
$color-primary-4: #000103;

$color-secondary-1-0: #FFFFFF;	// Main Secondary color (1)
$color-secondary-1-1: #B5BDE3;
$color-secondary-1-2: #374CAF;
$color-secondary-1-3: #091C72;
$color-secondary-1-4: #000103;

$color-secondary-2-0: #FFFFFF;	// Main Secondary color (2)
$color-secondary-2-1: #B2C5E0;
$color-secondary-2-2: #3063A9;
$color-secondary-2-3: #06326E;
$color-secondary-2-4: #000103;
